{% extends 'base.html' %}

{% block content%}
    <h1 class="detail-header">Album Details</h1>
    <hr />
<div class="row">
    <div class="col s6">
        <div class="card">
          <div class="card-image">
            {% for photo in album.photo_set.all %}
              <img class="responsive-img card-panel" src="{{photo.url}}">
            {% endfor %}
            </div>
            <div class = "card-content">
                <span class = "card-title">{{album.name}}</span>
                <p>Number of Songs: {{album.number_of_songs}}</p>
                <p>Release Year: {{album.release_year}}</p>

            </div>
        </a>
        <div class="card-action">
            <a href="{% url 'albums_update' album.id %}">Edit</a>
            <a href="{% url 'albums_delete' album.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <h3>Add a song</h3>
        <form method="POST" action="{% url 'add_song' album.id %}">
            {% csrf_token %}
            {{ song_form.as_p }}
            <input type="submit" class="btn red lighten-1" value="Add Song">
        </form>
        <table class="striped">
            <thead>
                <tr><th>Name</th><th>Minutes</th></tr>
            </thead>
            <tbody>
                {% for song in album.song_set.all %}
                <tr>
                    <td>{{song.name}}</td>
                    <td>{{song.minutes}}</td>
                </tr>
                {% endfor %}   
            </tbody>
        </table>
    </div>
</div>

<div>
  <h3>Add a listener</h3>
  <hr />
  <div class="row">
    <div class="col s6">
      <h3>{{ album.name }}'s Listeners</h3>
      {% if album.listeners.count %}
        {% for listener in album.listeners.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                <p>{{listener.name}}</p>
                <p>{{listener.location}}</p>
              </span>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>No Listeners Yet</h5>
      {% endif %}
    </div>
    <!-- Available listeners-->
    <div class="col s6">
      <h3>Available Listeners</h3>
      {% if listeners.count %}
        {% for listener in listeners.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                  <p>{{listener.name}}</p>
                  <p>{{listener.location}}</p>
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_listener' album.id listener.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn red lighten-1">Add Listener</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{album.name}} has all listeners available</h5>
      {% endif %}
    </div>
  </div>
</div>

<div>
  <h3>Upload an Album Cover</h3>
  <hr/>
  {% for photo in album.photo_set.all %}
  <img class="responsive-img card-panel" src="{{photo.url}}">
  {% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
</div>


<form action="{% url 'add_photo' album.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
   {% csrf_token %}
   <input type="file" name="photo-file">
   <br><br>
   <input type="submit" class="btn red lighten-1" value="Upload Cover">
</form>

{% endblock content %}
    