{% extends 'base.html' %}
{% block content %}

<h1 class="homepage-title">Album List</h1>
<hr />


<div class="row">
  {% for album in albums %}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
        {% for photo in album.photo_set.all %}
          <img class="responsive-img card-panel" src="{{photo.url}}">
        {% endfor %}
        </div>
        <div class="card-content">
            <span class = "card-title">{{album.name}}</span>
            <p>Artist: {{album.artist_name}}</p>
            <p>Genre: {{album.genre}}</p>
        </div>
        <div class="card-action">
          <a href="{% url 'detail' album.id %}">Go to Album</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
